$primary: #FF5200;

$font-light: #FFF;
$font-grey: #778;
$font-dark: #000;

$border-light: #FFF;
$border-grey-light: #A7A7A7;
$border-grey: #444;

$background-light: #FFF;
$background-grey-light: #EEE;
$background-grey: #A7A7A7;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;

$success: #69AF00;