.header-game{
  &.ui.grid{
    margin: 0;
  }

  &__title{
    position: relative;
    background-color: $background-dark-absolute;
    padding: 10px 0;
    color: $font-light;
    text-align: center;
    font-weight: bold;

    i.icon {
      position: absolute;
      height: 100%;
      top: 0;
      right: 9px;
      display: flex;
      align-items: center;
      font-size: 18px;
      opacity: 1 !important;

      &.like {
        color: $primary;
      }
    }
  }

  &__summary{
    background-color: $background-light;
    padding: 20px;
    font-size: 14px;
  }
}